@import 'styles/breakpoints.scss';
@import 'styles/variaveis.scss';

.container {
  display: flex;
  width: 80vw;
  justify-content: space-between;
  align-items: center;
  margin: 88px auto;

  @media screen and (max-width: $tablet) {
    flex-direction: column;
    justify-content: center;
    margin-top: 72px;
  }
}

.imagem {
  padding-left: 40px;
  text-align: center;

  & img {
    width: 100%;
    max-width: 400px;
    filter: drop-shadow(1px 1px 40px $accent);
  }

  @media screen and (max-width: $tablet) {
    margin-top: 64px;
    padding: 0;
    width: 60vw;
  }
}

.form {
  max-width: 380px;
  font-size: 16px;

  @media screen and (max-width: $mobile) {
    font-size: 12px;
  }
}

.titulo {
  font-weight: 600;
  font-size: 2em;
  line-height: 140%;
  margin: 0;
  margin-bottom: 32px;

  & span {
    color: $accent-light;
  }
}

.subtitulo {
  font-weight: bold;
  font-size: 1.25em;
  line-height: 22px;
  color: $accent-light;
  margin-bottom: 8px;
}

.criarConta {
  display: block;
  margin-top: 24px;
  font-size: 1.15em;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;

  & > a {
    color: $accent-light;
    font-weight: bold;
    text-decoration: underline;
  }
}