/* container, logo, botoes */
@import "styles/variaveis";
@import "styles/breakpoints";

.footer {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #ABABAB;
  text-align: center;
  padding-bottom: 16px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  
  @media screen and (max-width: $tablet) {
    font-size: 14px;
    width: 70vw;
  }
}

.footer > strong {
  font-weight: 500;
  color: $accent;
}

.footer > a {
  color: $accent;
  
  &:hover {
    color: $accent-light;
  }
}