@import "styles/breakpoints.scss"; 
@import "styles/variaveis.scss"; 

.adicionar {
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: $mobile) {
    flex-direction: column;
  }

  & select {
    display: block;
    height: 45px;
    background: $dark-1;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 0 16px;
    color: $light;
    font-size: 16px;
    outline: none;
    margin-left: 16px;
    transform: translateY(-1px);
    font-weight: 600;
    cursor: pointer;

    @media screen and (max-width: $mobile) {
      width: 100%;
      margin-left: 0;
      margin-top: -8px;
    }
  }
}

.botaoAdd {
  transform: translateY(-1px);
  margin-left: 16px;
  display: block;
  height: 45px;
  width: 45px;
  background: $accent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: $light;
  font-size: 32px;
  font-weight: 500;
  cursor: pointer;
  transition: .4s ease;

  &:hover {
    background-color: $accent-light;
  }

  @media screen and (max-width: $mobile) {
    width: 100%;
    margin-left: 0;
    margin-top: 24px;
  }
}