@import 'styles/variaveis.scss';
@import 'styles/breakpoints.scss';

.mainContainer {
  padding: 40px 24px 80px 24px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 56px;

  @media screen and (max-width: $mobile) {
    flex-direction: column;
  }
}

.adicionar {
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: $mobile) {
    flex-direction: column;
  }

  & select {
    display: block;
    height: 45px;
    background: $dark-1;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 0 16px;
    color: $light;
    font-size: 16px;
    outline: none;
    margin-left: 16px;
    transform: translateY(-1px);
    font-weight: 600;
    cursor: pointer;

    @media screen and (max-width: $mobile) {
      width: 100%;
      margin-left: 0;
      margin-top: -8px;
    }
  }
}

.botaoAdd {
  transform: translateY(-1px);
  margin-left: 16px;
  display: block;
  height: 45px;
  width: 45px;
  background: $accent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: $light;
  font-size: 32px;
  font-weight: 500;
  cursor: pointer;

  @media screen and (max-width: $mobile) {
    width: 100%;
    margin-left: 0;
    margin-top: 24px;
  }
}

.buscar {
    margin-right: 64px;
    position: relative;

    @media screen and (max-width: $mobile) {
      margin-right: 0;
    }

    &::after {
      content: '';
      height: 16px;
      width: 16px;
      display: block;
      position: absolute;
      right: 16px;
      top: 45px;
      background: $dark-1 url(../../assets/img/lupa.svg) no-repeat center / contain;
      pointer-events: none;
    }
  }

  .titulo {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 24px;
  }