@import "styles/variaveis.scss";
@import "styles/breakpoints.scss";

.container {
  width: min-content;
  min-width: 294px;
  background: $dark-1;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  border-radius: 7.75758px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  position: relative;
}

.informacoes {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  width: 100%;
  align-items: center;
  max-width: inherit;
}

.nome {
  font-weight: 600;
  display: block;
  font-size: 20px;
  padding: 0 24px;
  text-align: center;
}

.badge {
  padding: 6px 14px;
  display: inline-block;
  font-size: 16px;
  color: $accent-light;
  background-color: #D9267129;
  border: 1px solid $accent-light;
  border-radius: 40px;
  justify-self: flex-start;
}

.botaoNovaMidia, .botaoOpcoes {
  background: none;
  border: none;
  cursor: pointer;
}

.botaoOpcoes {
  justify-self: flex-end;
}

.botaoNovaMidia {
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  border-radius: 8px;
  height: 160px;
  min-width: 108px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .3s ease;
  margin: auto;
  
  svg path {
    transition: .3s ease;
  }
  
  &:hover {
    border-color: $accent-light;
    
    svg path, span {
      stroke: $accent-light;
      color: $accent-light;
    }
  }
  
  span {
    transition: .3s ease;
    color: #F9F9F9;
    font-size: 14px;
    margin-top: 4px;
    font-weight: 600;
  }
}

.listaMidias {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  gap: 24px;
  overflow-x: scroll;
  width: 100%;
  padding-bottom: 16px;

  @media screen and (max-width: $tablet) {
    justify-content: flex-start;
  }
}

.boxOpcoes {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 64px;
  right: 24px;
  background-color: $dark-2;
  padding: 16px;
  gap: 12px;
  border-radius: 8px 0 8px 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);

  &.disabled {
    display: none;
  }
}

.botaoEditar, .botaoExcluir {
  background: transparent;
  border: none;
  color: #F9F9F9;
  font-weight: 500;
  display: flex;
  align-items: center;
  cursor: pointer;

  svg {
    margin-right: 8px;
  }
}

.botaoExcluir {
  color: $accent-light;

  svg path {
    fill: $accent-light;
  }
}